@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.panel {
    @apply m-2 p-4 bg-gray-400 border-2 border-black shadow-md
}
